.wrapper{
    width: 760px;
}

.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}

.left{
    float: left;
    transform: rotateZ(90deg); 
}

.left-top-right{
    transform: rotateZ(45deg);
}


.right-up{
    height: 147px;
    transform: rotateZ(180deg);
/* transform: rotateZ(180deg); は変更しないこと */
}

.right-bottom-left{
    position: relative; top:150px; left:100px;
}

.right-bottom-middle{
    margin-left: 50px;
}

.right-bottom-right{
    position: absolute; top:250px; left:50px
} 