.wrapper{
    width: 760px;
}

.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}

.left{
    float:left;
    /* margin-right: 50px; */
}

.left-top{
    height: 222px;
}

.left-top-left{
    float:left;
    height: 222px;
}

.left-top-right{
    float:left;
    height: 222px;
    transform: rotate(180deg);
    /* padding: 50px; */
 
}

.right{
    float: left;
    /* width: 900px; */
}

.right-up{
    height: 147px;
    /* transform: rotate(180deg); */
}

/* .right .right-up{
    transform: rotate(270deg);
} */

.right-bottom-left{
    float: left;
    /* margin-left: 50px;*/
}

.right-bottom-middle{
    float: left;
    /* position:absolute; top:35px; left:150px;  */
}

.right-bottom-right{
    float: left;
    /* padding-bottom: 15px;
    margin: 15px;
    transform: rotate(90deg);
    */
}

/* .right-bottom .right-bottom-right{
    margin-left: 25px;
} */